{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block content %}
   <div class='login-container'>
      <form class= 'login' method='post'>
         <label for='username' class='username-label'>Username</label>
         <input type='text' name='username' id='username' class='username-input'>
         <label for='password' class='password-label'>Password</label>
         <input type='password' name='password' id='password' class='password-input'>
         <input type='submit' value='Login' class='login-button'>
      </form>
   </div>
{% endblock %}