{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block content %}
   <div class='login-create-container'>
      <div class='login-logo-container'>
         <h1 class='login-title'>Sign in</h1>
         <img src='{{ url_for('static', filename='Ennoia.svg') }}' alt='Ennoia logo'>
      </div>
      <div class='login-form-container'>
         <form class='login' method='post'>
            <label for='username' class='username-label'>Username</label>
            <input type='text' name='username' id='username' size='24' class='username-input'>
            <label for='password' class='password-label'>Password</label>
            <input type='password' name='password' id='password' size='24' class='password-input'>
            <div class='login-buttons'>
               <input type='submit' value='Login'>
               <p><a href='{{ url_for('auth.create') }}' class='create-button'>Create</a></p>
            </div>
         </form> 
      </div>      
   </div>
{% endblock %}