<!DOCTYPE html>
<html>
   <head>
      <link rel='stylesheet' href='{{ url_for('static', filename='styles.css') }}'>
   </head>

   <title> 
      {% block title %}
      {% endblock %}
   </title>

   <nav>
      <a href='{{ url_for('books.books') }}' class='logo'>
         <img src='{{ url_for('static', filename='Ennoia.svg') }}' alt='Ennoia logo'>
      </a>
      {% block menu %}
      {% endblock %}
   </nav>

   <body>
      <div class ='app-container'>
         <header>
            {% block header %}
            {% endblock %}
         </header>

         <section>
            {% for message in get_flashed_messages() %}
               <div>{{ message|safe }}</div>
            {% endfor %}
         </section>

         <main>
            {% block content %}
            {% endblock %}
         </main>
      </div>
   </body>
</html>