.app-container {
   display: flex;
   flex-direction: row;
   min-height: 100vh;
}

main {
   display: flex;
   flex-direction: row;
}

article {
   flex: 1;
   padding: 1em;
}

nav {
   display: flex;
}

.user-name {
   margin-left: auto;
   margin-right: .5em;
}

.add-button {
   margin-left: 1em;
}

.logout-button {
   margin-left: .5em;
   margin-right: 1em;
}
