.app-container {
   display: flex;
   flex-direction: row;
   min-height: 100vh;
}

main {
   display: flex;
   width: 100%;
}

article {
   flex: 1;
}

nav {
   display: flex;
}

.logo {
   display: flex;
   align-items: center;
   align-content: center;
   justify-content: center;
   align-self: center;
   margin-bottom: .5em;
   margin-left: 1em;
}

.user-name {
   margin-left: auto;
   margin-right: .5em;
   display: flex;
   align-items: center;
   align-content: center;
   justify-content: center;
   align-self: center;
}

.add-button {
   display: flex;
   align-items: center;
   align-content: center;
   justify-content: center;
   align-self: center;
   margin-left: 1.5em;
   border-radius: 5px;
   width: 66px;
   height: 25px;
   text-align: center;
   font-size: 12pt;
   font-weight: bold;
   font-family: 'Cambay';
   text-decoration: none;
   color: #333533; 
   
}

.add-button:hover {
   background-color: #f5f5f5
}

.logout-button {
   margin-left: .5em;
   margin-right: 1em;
   display: flex;
   align-items: center;
   align-content: center;
   justify-content: center;
   align-self: center;
   margin-left: 1em;
   border-radius: 5px;
   width: 95px;
   height: 25px;
   text-align: center;
   font-size: 12pt;
   font-weight: bold;
   font-family: 'Cambay';
   text-decoration: none;
   color: #333533;
}

.logout-button:hover {
   background-color: #f5f5f5
}

.index-container {
   display: grid;
   grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
   grid-gap: 1em;
   width: 80%;
   max-width: 1200px;
   padding: 1em;
   margin: 1em auto;
   justify-content: left;
}

.book-card {
   display: flex;
   flex-direction: column;
   border-radius: 5px;
   margin: 1em;
   text-decoration: none;
   color: #333533;
}

.book-card-title {
   font-size: 12pt;
   font-family: 'Cambay';
   font-weight: bold;
   margin: .5em;
   text-align: left;
}

.book-card-author {
   font-size: 9pt;
   font-family: 'Cambay';
   font-weight: normal;
   margin: .75em;
   text-align: left;
   margin-top: .25em;
}
.book-card:hover {
   background-color: #f5f5f5
}

.book-container {
   width: 80%;
   max-width: 1200px;
   padding: 1em;
   margin: 1em auto;
   justify-content: left;
}

.edit-book-container {
   width: 80%;
   max-width: 1200px;
   padding: 1em;
   margin: 1em auto;
   justify-content: left;
}

.login-container {
   display: flex;
   width: 80%;
   max-width: 1200px;
   padding: 1em;
   margin: 1em auto;
   justify-content: right;
}

.login {
   padding: 1em;
   margin: 1em auto;
   justify-content: right;
}

.login-button {
   margin-left: .5em;
   margin-right: 1em;
   display: flex;
   align-items: center;
   align-content: center;
   justify-content: center;
   align-self: center;
   margin-left: 1em;
   border-radius: 5px;
   width: 95px;
   height: 25px;
   text-align: center;
   font-size: 12pt;
   font-weight: bold;
   font-family: 'Cambay';
   text-decoration: none;
   color: #333533;
}

.login-button:hover {
   background-color: #f5f5f5
}

.username-label {
   display: flex;
   font-family: 'Cambay';
   font-size: 12pt;
   font-weight: bold;
}

.username-input {
   display: flex;
   font-family: 'Cambay';
   font-size: 12pt;
}

.password-label {
   display: flex;
   font-family: 'Cambay';
   font-size: 12pt;
   font-weight: bold;
}

.password-input {
   display: flex;
   font-family: 'Cambay';
   font-size: 12pt;
}
